<head>
  <title>webCaptureApp</title>
</head>

<body>
  <div class="container">
    <div class="text-center">
      <h3>Enter your URL below</h3>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" id="url">
          <span class="input-group-btn">
            <button class="btn btn-lg btn-success" id="pdf"><i class="fa fa-file-pdf-o"></i> PDF</button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
      <div class="alert alert-info hidden" id="runningMessage">
        <strong>Please Wait!</strong> PDF/JPG generation is currently running.
      </div>
      <div class="alert alert-danger alert-dismissable hidden" id="error">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> <p id="message"></p>
      </div>
    </div>
  </div>
</body>
